/* Global styles for the body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #000;
    color: white;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color: #000;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 5rem;
}

/* Logo styles */
.logo {
    grid-column: 2;
    display: flex;
    justify-content: center;
}
.logo img {
    height: 60px;
    width: auto;
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    transition: transform 0.3s, box-shadow 0.3s;
}
.logo img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0,0,0,0.6);
}
/* Header icons styles */
.header-icons {
    gap: 2rem;
    margin-right: 1rem;
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
}
.header-icons a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s, text-decoration 0.3s;
}
.header-icons a:hover {
    color: #e74c3c;
    text-decoration: underline;
}
/*form styles*/
.container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
h2 {
    text-align: center;
    margin-top: 0;
}
form {
    display: flex;
    flex-direction: column;
}
.form-box input{
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}
.form-box input:focus {
    border: none;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    outline: none;
}
.form-box button {
    padding: 0.75rem;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.form-box button:hover {
    background-color: #5a5a5a;
}
.form-box p {
    text-align: center;
}
.form-box a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s, text-decoration 0.3s;
}
.form-box a:hover {
    text-decoration: underline;
    color: #e74c3c;
}
/* Footer styles */
footer {
    background-color: #f8f8f8;
    color: #333;
    padding: 2rem;
    margin-top: 5rem;
    border-top: 1px solid #ddd;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.05);
}
.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-section h3 {
    margin-bottom: 1rem;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section a {
    color: #666;
    text-decoration: none;
}
.footer-section a:hover {
    color: #e74c3c;
}
.footer-section p {
    margin: 0.5rem 0;
}